html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    flex: 1 1 auto;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.content {
}

footer {
    flex: 0 1 auto;
}

footer>p{
    text-align: center;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Button {
    border-radius: 15px;
    text-align: center;
    border: 0;
}
.AddButton {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    font-size: 14pt;
    background-color: #50C878;
    color: #fff;
}

.DelButton{

}

.Tip {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    text-align: center;
    font-size: 14pt;
    color: #fff;
    border-radius: 15px;
}

.EventTip {
    background-color: #222222;
}

.FileTip {
    background-color: #222222;
}

.show {
    display: block !important;
}

.red {
    border: 2px solid #d53838;
}
