body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Button {
    border-radius: 15px;
    text-align: center;
    border: 0;
}
.AddButton {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    font-size: 14pt;
    background-color: #50C878;
    color: #fff;
}

.DelButton{

}

.Tip {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    text-align: center;
    font-size: 14pt;
    color: #fff;
    border-radius: 15px;
}

.EventTip {
    background-color: #222222;
}

.FileTip {
    background-color: #222222;
}

.show {
    display: block !important;
}

.slider{
    position:relative;
    overflow: hidden;
}

.slider_wrapper{
    display: flex;
    transition: transform 0.6s ease;
}

.slider_item{
    flex: 0 0 33.33333%;
    max-width: 33.333333%;
}

.slider_control{
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transform: translateX(-50%);
    background: rgba(0,0,0, .5);
}

.slider_control_show{
    display: flex;
}

.slider_control:hover,
.slider_control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider_control_left{
    left:0;
}
.slider_control_right{
    right: 0;
}

.slider_control_left::before{
    background-image: url('../img/left.png');
}
.slider_control_right{
    background-image: url('../img/right.png');
}
.slider_item > div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}
