@using RAZAM.Models
@model IEnumerable<RAZAM.Models.File>
@{
    ViewBag.Title = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Add">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-8"><button class="AddButton btn-block Button" id="AddButton" area-hidden="true">Add file</button></div>
        </div>
    </div>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modalH">Add Event</span>
                    <button class="CloseButton close" id="CloseAddButton" data-dismiss="modal">Close</button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("AddFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @*<p>Discribe your file:</p>
                        @Html.TextBox("Name", "name")*@
                        <p>Path to your file:</p>
                        <input type="file" name="file" />
                        <p><input type="submit" value="Add" /></p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="FileTips">
    <div class="container">
        @foreach (RAZAM.Models.File fi in Model)
        {
            @Html.Partial("FileTip", fi)
        }
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        window.onload = function () {
            var addButton = document.getElementById("AddButton");
            var closeButton = document.getElementById("CloseAddButton");
            addButton.onclick = ModalWindowShow;
            closeButton.onclick = ModalWindowHide;
        }
        function ModalWindowShow() {
            var modal = document.getElementById("modDialog");
            modal.style.display = "block"
            modal.style.opacity = 1;
        }
        function ModalWindowHide() {
            var modal = document.getElementById("modDialog");
            modal.style.display = "none"
            modal.style.opacity = 0;
        }
    </script>
}
