@model RAZAM.Models.Note
<div class="slider_item">
    <div class="card">
        <div class="card-body mx-2 my-2">
            <h5 class="card-title">From 
            @Model.Sender.UserName</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Name</h6>
            <p class="card-text">@Model.Description</p>
            <a href="#" class="card-link deflectLink">Deflect</a>
            <a href="#" class="card-link acceptLink">Accept</a>
        </div>
    </div>
</div>
