@model RAZAM.Models.UserNote
<div class="slider_item">
    <div class="card">
        <div class="card-body mx-2 my-2">
            @Html.HiddenFor(Model => Model.Status)
            <h5 class="card-title">To @Model.ReceiverName</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Name</h6>
            <p class="card-text">@Model.Description</p>
            <a href="#" class="card-link deflectLink">Delete</a>
        </div>
    </div>
</div>
